<configuration>
  <contextName>mini_aether</contextName>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%contextName] %-5level %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="com.ning" level="WARN"/>
  <root level="${level}">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
